{% extends "index.html" %}
{% load static %}
 {% block content1 %}
 <div class="row my-5">
    
    <div class="col-3 d-flex justify-content-center align-items-center">
        <img class="about_image"src="{% static 'image/rahul.jpg' %}" alt="image">
    </div>
    <div class="col-7 text-left tex-light">
        <h1>Hello !</h1>
        <h4>  iam a dedicated and curious individual with a strong interest in software development, particularly in web technologies like Django. You demonstrate a hands-on approach to problem-solving, whether it's debugging errors, managing static files, or enhancing your projects. Your attention to detail and willingness to dive into technical issues reflect your commitment to learning and growing in your field.</h4>
        <h1>Intrest !</h1>
        <h4>You're keen on building functional and user-friendly applications, showcasing a mix of creativity and technical skills. Your ability to persevere through challenges and seek guidance when needed highlights your proactive attitude and adaptability.</h4>





    </div>
   

    </div>



    




    {% endblock content1 %}